.background {
    background-color: rgb(8, 60, 60);
    background-image: url('@/res/background.jpg');
    width: 100%;
    height: 100%;
}

.background h1 {
    color: rgb(169, 169, 197);
    margin: 0;
    padding: 20px 0;
}

.background p {
    color: white;
}
